<!-- navrbar starts-->

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-dark">
                <div class="container-fluid">
                    <!-- navbar logo-->
                  <a class="navbar-brand" href="#"><h1>Hospital</h1></a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <!-- navbar buttons starts-->
                    <ul class="navbar-nav  container-div">

                      <li class="nav-item">
                         <a class="nav-link active" aria-current="page" href=""><div class="btn btn-primary">Home</div></a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" href="createpatient.component.html" routerLink="/cpatient" target="_blank"><div class="btn btn-primary">Create Patient</div></a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" href="createdoctor.component.html" routerLink="/cdoctor" target="_blank"><div class="btn btn-primary">Create Doctor</div></a>
                      </li>
        
                      <li class="nav-item">
                        <a class="nav-link" href="doctorinfo.component.html" routerLink="/doctorinfo" target="_blank"><div class="btn btn-primary">Show Doctor Info</div></a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" href="patientinfo.component.html" routerLink="/patientinfo" target="_blank"><div class="btn btn-primary">Show Patient Info</div></a>
                      </li>

                    </ul>

                    <!-- navbar buttons ends-->
                   
                  </div>
                </div>
              </nav>
        </div>
    </div>
</div>

<!-- navbar ends-->

